<!DOCTYPE html>
<html ng-app='fib'>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Angular Challenge</title>
  <link rel="stylesheet" type="text/css" href="styles/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

</head>
<body ng-controller='fibController'>

  <center class="view">
    <h2 id="fibNum">{{fib}}</h2>
    <button class="button reset" ng-click='clear()'>RESET</button>
    <button class="button increase" ng-click='increase()'> NEXT FIB </button>
    <button class="button increase" ng-click='recursive()'>NEXT FIB (Recursive)</button>
    <button class="button increase" ng-click='iterative()'>NEXT FIB (Iterative)</button>
  </center>


  <script src="app.js"></script>
</body>
</html>



